{% extends "question/base.html" %} 
{% block content %} 
{% include "question/header.html" %}
<div class="rules">
  <h1>Rules</h1>
  <ul><h1>
    <li>
      You can play a game based on different categories. Each category has 10(by default) questions.
    </li>
    <li>
      If you answer a question correctly, you will get 10 points. If you answer a question incorrectly, you will get 0 points.
      If the question is with more than one correct answer, you will get 5 points for each correct answer and 0 points for each incorrect answer.
    </li>
    <li>
      The questions shall be in the form of multiple choice, True / False
      statement, Specific answer question etc.
    </li>
    <li>
      You can play alone or with your friends in a group. You can also play with a random opponent.
    </li>
    <li>
      After the game, you can see the leaderboard and your score.
    </li>
  </h1></ul>
  <a href="quiz_categories" class="button">Quiz categories.</a>
</div>

<script type='text/javascript'>
  localStorage.setItem('count', 120)
</script>
{% endblock %}
