{% extends "question/base.html" %} 
{% block content %}
{% include "question/header.html" %}
<main>
  <h1>Quiz Categories</h1>
  <ul>
      {% for category in categories %}
          <li><a href="{% url 'quizzes_by_category' category=category.category %}">{{ category.category }}</a></li>
      {% endfor %}
  </ul>
</main>
{% endblock %}

{% comment %} {% extends "question/base.html" %} {% block content %} 
{% include "question/header.html" %}
{% load i18n %}
{% block title %}{% trans "Quizzes related to" %} {{ category.category }}{% endblock %}

{% block content %}
<h1>{% trans "Quizzes in the" %} <strong>{{ category.category }} </strong>{% trans "category" %}</h1>

  {% with object_list as quizzes %}
    {% if quizzes %}
        <ul>
        {% for quiz in quizzes %}
            <li>
			  <a href="{% url 'quiz_question' quiz_name=quiz.url %}">
				{{ quiz.title }}
			  </a>
			</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "There are no quizzes" %}</p>
    {% endif %}
  {% endwith %}
{% endblock %} {% endcomment %}