<!-- filepath: d:\Projects\python\Project\app\gui\templates\quiz\multiplayer.html -->
{% extends 'quiz/base.html' %}
{% load static %}

{% block content %}
  {% include 'quiz/header.html' %}

  <div class="card-columns" style="padding: 10px; margin: 20px;"></div>

  <div id="game-container" room-code="{{ room_code }}" username="{{ username }}" quiz="{{ quiz }}" player="{{ player }}"></div>
  <div id="rules-multiplayer" class="rules">
    <h1>Here are some of the rules for the multiplayer game:</h1>
    <ul>
      <h1>
        <li>Each player will be given a question to answer.</li>
        <li>The next question will be displayed only after all players have answered the current question.</li>
        <li>Questions can have one or multiple answer/s. Be careful!</li>
        <li>The results will be displayed after all players have answered the last question.</li>
        <li>The answers are with different points.</li>
        <li>The player with the highest score at the end of the game will be declared the winner.</li>
      </h1>
    </ul>
  </div>

  <div id="start-quiz-container" style="display: flex; justify-content: center;">
    {% if is_creator %}
      <a href="#" id="start-quiz" style="font-size: 3rem;">Start Game</a>
    {% endif %}
  </div>
  <script src="{% static 'quiz/js/multiplayer.js' %}"></script>
{% endblock %}
