{% extends 'quiz/base.html' %}

{% block title %}
  Questions
{% endblock %}

{% block content %}
  {% include 'quiz/header.html' %}
  <div>
    <h1 style="margin-top: 5em; margin-bottom: 1em;">{{ question.question }}</h1>
    <div class="answers">
      <form method="POST">
        {% csrf_token %}
        {% for answer in answers %}
          <div class="answer">
            <input class="answer-radio-button" type="radio" style="margin-bottom: 0; width: 10px;" name="answer" value="{{ answer.id }}" />
            <label for="answer-label" style="font-size: 2rem; display: inline; margin-left: 5px;">{{ answer.answer }}</label>
          </div>
        {% endfor %}
        {% if no_next_question %}
          <button type="submit">Finish</button>
        {% else %}
          <button type="submit">Next Question</button>
        {% endif %}
      </form>
    </div>
  </div>
{% endblock %}
