{% extends 'quiz/base.html' %}

{% block title %}
  Quiz
{% endblock %}

{% block content %}
  {% include 'quiz/header.html' %}
  <main>
    <ol>
      <h1 style="font-size: 5rem">Title: {{ quiz.title }}</h1>
      <br />
      <h2 style="font-size: 2.5rem">Discription: {{ quiz.description }}</h2>
      <h2 style="font-size: 2.5rem">Difficulty: {{ quiz.difficulty }}</h2>
      <h2 style="font-size: 2.5rem">Passing Marks: {{ quiz.pass_mark }}</h2>
    </ol>

    <form method="POST">
      {% csrf_token %}
      <h2>Play alone</h2>
      <input type="submit" name="start-quiz" value="Start Quiz" />
    </form>

    <form method="POST">
      {% csrf_token %}
      <h2>Play with friends</h2>
      <div>
        <h3>Create a game</h3>
        <input type="input" name="create-room-code" placeholder="Game Room Name" />
        <input type="submit" name="create-room" value="Create room" />
        <br />
        <h3>Join a game</h3>
        <input type="input" name="join-room-code" placeholder="Game Room Name" />
        <input type="submit" name="join-room" value="Join room" />
        <br />
        <h3>Or choose from active games</h3>
        <select name="join-room-code" id="active-rooms">
          <option value="" disabled selected>Select a room</option>
          {% for room in active_rooms %}
            <option value="{{ room.room_code }}">{{ room.room_code }}</option>
          {% endfor %}
        </select>
        <input type="submit" name="join-active-room" value="Join selected room" />
      </div>
    </form>
  </main>
{% endblock %}
