{% extends "quiz/base.html" %} 
{% block content %}
{% include "quiz/header.html" %}
<main>
    <ol>
        <h1 style="font-size: 5rem">Title: {{ quiz.title }}</h1>
        <br>
        <h2 style="font-size: 2.5rem" >Discription: {{ quiz.description }}</h2>
        <h2 style="font-size: 2.5rem">Difficulty: {{ quiz.difficulty }}</h2>
        <h2 style="font-size: 2.5rem">Passing Marks: {{ quiz.pass_mark }}</h2>
    </ol>

    <form method="POST">
        {% csrf_token %}
        <h2>Play alone</h2>
        <input type="submit" name="start-quiz" value="Start Quiz">
    </form>

    <form method="POST">
        {% csrf_token %}
        <h2>Play with friends</h2>
        <input type="input" name="room-name" placeholder="Game Room Name">
        <input type="submit" name="create-room" value="Create room">
    </form>
</main>
{% endblock %}