{% extends "quiz/base.html" %} 
{% block content %}
{% include "quiz/header.html" %}
<main>
    <h1>Title: {{ quiz.title }}</h1>
    <h2>Discription: {{ quiz.description }}</h2>
    <h2>Difficulty: {{ quiz.difficulty }}</h2>
    <h2>Passing Marks: {{ quiz.pass_mark }}</h2>

    <form method="POST">
        {% csrf_token %}
        <p>Play alone</p>
        <input type="submit" name="start-quiz" value="Start Quiz">
    </form>

    <form method="POST">
        {% csrf_token %}
        <p>Play with friends</p>
        <input type="input" name="room-name" placeholder="Game Room Name">
        <input type="submit" name="create-room" value="Create room">
    </form>
</main>
{% endblock %}