{% extends "quiz/base.html" %}
{% block title %}Forgot Your Password?{% endblock %}

{% block content %}

<div class="cred">
  <h2>Enter your email address below:</h2>
    <form method="POST">
      {% csrf_token %}
      <h2>{{ form.as_p }}</h2>
      <button type="submit">Reset</button>
    </form>

    <p class="muted">
      New User?<a class="ml-2" href="{%url 'register' %}"> Sign Up</a> <br>
      Login here<a class="ml-2" href="{%url 'login' %}"> Login</a> <br>
    </p>
</div>

{% endblock %}