{% extends "quiz/base.html" %}
{% block title %}Forgot Your Password?{% endblock %}

{% block content %}

<div class="cred">
  <h2>Enter your email address below:</h2>
    <form method="POST">
      {% csrf_token %}
      <input 
        type="email"
        name="email"
        placeholder="Email"
        autocomplete="off"
        required
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        minlength="8"
        autocomplete="off"
        required
      />
      <input
        type="password"
        name="password-c"
        placeholder="Confirm Password"
        minlength="8"
        autocomplete="off"
        required
      />
      <button type="submit" value="Reset">Reset</button>
    </form>

    <p class="muted">
      New User?<a class="ml-2" href="{%url 'register' %}"> Sign Up</a> <br>
      Login here<a class="ml-2" href="{%url 'login' %}"> Login</a> <br>
    </p>
</div>

{% endblock %}